.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: transparent;
  }
  
  .card {
    width: 300px;
    height: 400px;
    background-color: transparent;
    padding: 20px;
    align-items: flex-start;
    border-radius: 10px;
    display: flex-start;
    justify-content: center;
    align-items: center;
    color: rgba(192, 192, 192, 0.795);
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.4s ease, box-shadow 0.4s ease;
    border: 1px solid silver;
  }

  
  .content {
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #050505;
    color: #0b0c10;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  .photo-cred {
    margin-top: 20px;
    color: #0b0c10;
  }
  
  .photo-cred a {
    color: #0b0c10;
    text-decoration: none;
  }
.card:hover {
  transform: rotateY(-10deg);
  border-color: #00ffff;
  box-shadow: 0 0 10px 20px #00ffff; /* Smaller blur and spread to keep the glow near the border */
}

